/* Add custom css styles here */
* {
    text-align: center;
}

.heading {
    position: relative;
    background-color: rgba(117, 45, 0, 0.5);
    color: black;
    top: 110px;
    padding: 50px 40px;
    border-radius: 20px;
    display: inline-block;
    text-shadow: 2px 2px rgba(255,255,255,0.5);
}

.header-background {
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp1966936.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 50px;
}

.container {
    display: grid;
    place-items: center;
}

#aboutus {
    margin-top: 30px;
    padding: 30px;
    background-color: rgb(238, 238, 238);
}

#aboutus-content {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    align-items: center;
}

#aboutus-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 150px;
    grid-column: 1;
}

#aboutus-text {
    margin: 20px 10px;
    font-size: 14px;
    grid-column: 2;
    text-align: left;
}

footer {
    background-image: url("https://wallpaperaccess.com/full/1463485.jpg");
    background-size: cover;
    background-position: right;
    height: 200px;
    padding: 30px;
    
}

footer h2 {
    font-size: 24px;
    background-color: rgba(165, 42, 42, 0.6);
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
}
footer div {
    font-size: 16px;
    color: white;
}